flows (1).json
[{"id":"1472c937.b1c287","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"19277111.66b9bf","type":"function","z":"1472c937.b1c287","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["243ca171.befffe","28e39347.1dbfec","e037d33.dab213"]]},{"id":"243ca171.befffe","type":"debug","z":"1472c937.b1c287","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":220,"wires":[]},{"id":"b34bcd1c.ecbc2","type":"http in","z":"1472c937.b1c287","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["481f108c.7575c"]]},{"id":"e037d33.dab213","type":"http response","z":"1472c937.b1c287","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"85c3fa71.9065f8","type":"ui_button","z":"1472c937.b1c287","name":"","group":"91e50234.1c71a","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":180,"wires":[["481f108c.7575c"]]},{"id":"28e39347.1dbfec","type":"ui_template","z":"1472c937.b1c287","group":"91e50234.1c71a","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":500,"y":340,"wires":[[]]},{"id":"481f108c.7575c","type":"http request","z":"1472c937.b1c287","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://62b4635a-df31-4ec6-80e3-bb8138800224-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":320,"y":240,"wires":[["19277111.66b9bf"]]},{"id":"66de4a07.ffe734","type":"debug","z":"1472c937.b1c287","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":520,"wires":[]},{"id":"a3a498ba.b174a8","type":"ui_button","z":"1472c937.b1c287","name":"","group":"91e50234.1c71a","order":2,"width":0,"height":0,"passthru":false,"label":"Dooropen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"dooropen\"}","payloadType":"json","topic":"","x":210,"y":520,"wires":[["232436aa.95deea","66de4a07.ffe734"]]},{"id":"895a6951.7e3aa8","type":"ui_button","z":"1472c937.b1c287","name":"","group":"91e50234.1c71a","order":3,"width":0,"height":0,"passthru":false,"label":"Doorclose","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"doorclose\"}","payloadType":"json","topic":"","x":220,"y":600,"wires":[["66de4a07.ffe734"]]},{"id":"232436aa.95deea","type":"ibmiot out","z":"1472c937.b1c287","authentication":"apiKey","apiKey":"91a8c910.3a8288","outputType":"cmd","deviceId":"1234567890","deviceType":"raspberrypie","eventCommandType":"home","format":"json","data":"date","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":600,"wires":[]},{"id":"c92b51cf.24083","type":"http in","z":"1472c937.b1c287","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":170,"y":460,"wires":[["f53b5747.c79b98"]]},{"id":"f53b5747.c79b98","type":"function","z":"1472c937.b1c287","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["e22acb09.172618","3702e11c.93a77e"]]},{"id":"e22acb09.172618","type":"http response","z":"1472c937.b1c287","name":"","statusCode":"","headers":{},"x":590,"y":460,"wires":[]},{"id":"3702e11c.93a77e","type":"debug","z":"1472c937.b1c287","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":420,"wires":[]},{"id":"91e50234.1c71a","type":"ui_group","z":"","name":"Default","tab":"ec572fdb.77473","order":1,"disp":true,"width":"6","collapse":false},{"id":"91a8c910.3a8288","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ec572fdb.77473","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]